.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 900px;
  /* border: 1px solid #ca4040; */
  border-radius: 8px;
  padding: 20px;
  max-height: 800px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
